@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

select,
input,
textarea {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    

}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

select:focus,
input:focus,
textarea:focus {

    outline: 2px solid #C586A5;
    /* True outline effect */
}


.active {
    background-color: #ffebf5;
    border-color: #C586A5;
}